<div class="progressbar-wrapper">
  <ul class="progressbar">
    <li *ngFor="let slide of stateList; let i = index" [ngClass]="this.state >= i + 1 ? 'active' : ''">{{ slide.name }}</li>
    <div class="product" *ngIf="state == 1">
      <div class="title-product mt-3 mb-3">
        <span>Vui lòng thêm <br /><b>Thông tin của bạn</b></span>
      </div>
      <div class="content-product">
        <input
          type="text"
          #phoneNumber="ngModel"
          class="form-control mt-1 mb-1"
          id="fullName"
          name="fullName"
          [(ngModel)]="user.fullName"
          placeholder="Nhập họ tên trên CMND/Hộ chiếu"
        />
        <input
          type="text"
          #email="ngModel"
          class="form-control mt-1 mb-1"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Email"
        />
      </div>
      <div class="footer-product mt-3 mb-3 text-center">
        <button class="btn btn-primary" (click)="changeState(2)">Tiếp theo</button>
      </div>
    </div>
    <div class="product" *ngIf="state == 2">
      <div class="title-product mt-3 mb-3">
        <span>Vui lòng nhập mã xác thực <br /><b>Gửi đến Email của bạn</b></span>
      </div>
      <div class="content-product">
        <input
          type="text"
          #code="ngModel"
          class="form-control mt-1 mb-1"
          id="code"
          name="code"
          [(ngModel)]="user.fullName"
          placeholder="Nhập mã xác thực"
        />
        <div class="note">
          <div class="note-left">left</div>
          <div class="note-right">right</div>
        </div>
      </div>
      <div class="footer-product mt-3 mb-3 text-center">
        <button class="btn btn-primary" (click)="changeState(2)">Tiếp theo</button>
      </div>
    </div>
    <div class="product" *ngIf="state == 3">
      <div class="title-product mt-3 mb-3">
        <span>Vui lòng <br /><b>chụp ảnh chân dung</b> để xác thực</span>
      </div>
      <div class="content-product">
        <input
          type="text"
          class="form-control mt-1 mb-1"
          id="profile_picture"
          name="profile_picture"
          [(ngModel)]="user.fullName"
          placeholder="Nhập mã xác thực"
        />
        <div class="note">
          <div class="note-left"></div>
          <div class="note-right"></div>
        </div>
      </div>
      <div class="footer-product mt-3 mb-3 text-center">
        <button class="btn btn-primary" (click)="changeState(2)">Tiếp theo</button>
      </div>
    </div>
  </ul>
</div>
