.progressbar-wrapper {
  background: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

.progressbar li:before {
  width: 60px;
  height: 60px;
  content: '';
  line-height: 60px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 3px auto;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 30px;
  left: -50%;
  z-index: 0;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: green;
  font-weight: bold;
}

.progressbar li.active:before {
  border-color: #55b776;
  color: white;
  background: green;
}

.progressbar li.active + li:after {
  background-color: #55b776;
}

.progressbar li.active:before {
  //background: #55b776  url(user.svg) no-repeat center center;
  background-size: 60%;
}

.progressbar li::before {
  //background: #fff url(user.svg) no-repeat center center;
  background-size: 60%;
}

//.progressbar {
//  counter-reset: step;
//  margin-right: 36px;
//}
//.progressbar li:before {
//  content: counter(step);
//  counter-increment: step;
//}
.product {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.title-product {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.product {
  margin-bottom: 20px;
}
.product::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.product::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.product::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.product::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.title-product b {
  font-weight: bold;
  color: #3e8acc;
}

.note {
  display: flex;
  margin: 20px 0 40px 0;
}

.note .note-left {
  width: 36px;
}

.resend-email {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
}

.resend-email div span u {
  font-size: 24px;
}

fa-icon {
  font-size: 25px;
  color: #3e8acc;
}

input {
  border-radius: 20px;
  line-height: 50px;
  text-align: center;
}

button {
  height: 48px;
  width: auto;
  border-radius: 50%;
  margin: 0 20px 0 20px;
}

small {
  opacity: 60%;
}

.image-tray {
  width: 100%;
  height: auto;
  text-align: center;
}

.image-tray fa-icon {
  cursor: pointer;
}

.image-tray img {
  border-radius: 20px;
}

.footer-product {
  margin-top: 1px;
  position: absolute;
  bottom: 20px;
  left: 45%;
}

button fa-icon {
  color: white;
}

button fa-icon svg {
  margin-bottom: 2px;
}

.img-upload {
  display: flex;
  width: 500px;
  max-height: 140px;
}

.img-upload .img-front {
  width: 250px;
  height: 140px;
  text-align: center;
}

.img-upload .img-back {
  width: 250px;
  height: 140px;
  text-align: center;
}

.img-upload .img-front img {
  max-width: 95%;
  width: 250px;
  height: 140px;
}

.img-upload .img-back img {
  width: 250px;
  height: 140px;
}

.verify {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.verify fa-icon.success {
  color: green;
  font-size: 150px;
}

.verify fa-icon.failed {
  color: red;
  font-size: 150px;
}

.red {
  color: red;
}

.input-icons fa-icon {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  font-size: 30px;
  color: gray;
  opacity: 50%;
}

input::placeholder {
  text-align: center;
  opacity: 70%;
}

input[type='radio'] {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.wrapper-input {
  border-radius: 20px;
  border: 1px solid lightgray;
  height: auto;
  justify-content: center;
}
.wrapper-input input {
  margin-right: 10px;
}

.gender-select {
  margin: auto;
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
